* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /*font-family: 'Lacquer',
    sans-serif;*/
}

body .navbar .items {
  margin-left: 20em;
}

body .navbar .items ul .nav-item {
  margin-right: 1em;
  padding: 10px;
}

@media screen and (max-width: 850px) {
  body .navbar .navbar-brand {
    display: none;
  }
  body .navbar .items {
    margin-left: 0;
  }
}

body .navbar .navbar-nav .nav-link {
  color: black;
  -webkit-transition: all 0.2s cubic-bezier(1, 0.27, 0.93, 1.29);
  transition: all 0.2s cubic-bezier(1, 0.27, 0.93, 1.29);
  padding: 7px;
}

@media screen and (max-width: 850px) {
  body .navbar .navbar-nav .nav-link {
    color: white;
  }
}

body .navbar .navbar-nav .nav-link:hover {
  color: white;
  background: black;
  border-radius: 15px;
}

@media screen and (max-width: 850px) {
  body .navbar .navbar-nav .nav-link:hover {
    color: black;
    background: white;
  }
}

body .navbar .search-box {
  padding: 0px 10px 10px 10px;
  background: black;
  color: white;
  border-radius: 40px;
  height: 40px;
}

body .navbar .search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.45s;
  transition: 0.45s;
  line-height: 40px;
  width: 0;
}

@media screen and (max-width: 850px) {
  body .navbar .search-box .search-txt {
    color: black;
  }
}

body .navbar .search-box .search-btn {
  color: white;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 850px) {
  body .navbar .search-box .search-btn {
    color: black;
    background: white;
  }
}

@media screen and (max-width: 850px) {
  body .navbar .search-box {
    background: white;
    color: black;
  }
}

body .navbar .search-box:hover > .search-txt {
  width: 170px;
  padding: 0 6px;
}

body .navbar .search-box:hover > .search-btn {
  background: white;
  color: black;
}

body .bg1 {
  background: black;
  height: 100%;
  position: absolute;
  right: 70%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

@media screen and (max-width: 850px) {
  body .bg1 {
    display: none;
  }
}

body .bg2 {
  background: #e4dede;
  height: 100%;
  position: absolute;
  left: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

@media screen and (max-width: 850px) {
  body .bg2 {
    display: none;
  }
}

body span {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: linear-gradient(205deg, gold, goldenrod, #242323);
  z-index: 2;
  left: 17%;
  top: 25%;
  right: 80%;
}

body span img {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-top: 2em;
}

@media screen and (max-width: 850px) {
  body span {
    display: none;
  }
  body span img {
    display: none;
  }
}

body .container {
  padding: 20px;
  width: 400px;
  margin-top: 3em;
}

body .container h4 {
  font-size: 20px;
  font-weight: lighter;
  font-family: 'Lacquer', sans-serif;
}

body .container h1 {
  font-size: 5em;
  font-weight: bold;
}

body .container p {
  line-height: 20px;
  font-family: 'El Messiri', sans-serif;
  text-align: justify;
}

body .container button {
  background: none;
  border-radius: 15px;
  border: 1px solid black;
  height: 40px;
}

body .container button a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

body .container button a:hover {
  color: white;
}

body .container button:hover {
  border: none;
  background: black;
  color: white;
}

@media screen and (max-width: 850px) {
  body .container button {
    background: none;
    border-radius: 15px;
    border: 1px solid white;
    height: 40px;
  }
  body .container button a {
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  body .container button a:hover {
    color: black;
  }
  body .container button:hover {
    border: none;
    background: white;
    color: black;
  }
}

body .social a {
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.3em;
  color: white;
}

@media screen and (max-width: 850px) {
  body .navbar-toggler {
    background: white;
  }
  body .container {
    padding: 10px;
    text-align: left;
    color: white;
  }
  body .container p {
    line-height: 20px;
    font-family: 'lato', sans-serif;
    text-align: left;
  }
  body p {
    line-height: 20px;
    font-family: 'El Messiri', sans-serif;
    text-align: left;
  }
  body button {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .social {
    color: black;
  }
}

@media screen and (max-width: 850px) {
  body {
    background-image: url("/img/bowling-shoes-.jpg");
  }
  .row .oo {
    display: none;
  }
  .navbar-toggler-icon {
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */